body {
  background-color: #fefcf6 !important;
}

.header {
  background-color: #fefcf6;
  padding: 17px 40px;
  border: 1px solid #f2f1eb;
  font-size: 15px;
}

.navbar-logo {
  display: block;
  height: 35px;
}

.header-topic {
  color: black;
}

.header-topic:hover {
  color: #f9c50a;
  text-decoration: underline !important;
}

#homepageContent {
  margin: 220px 100px 180px 100px;
}

#homepageName {
  text-align: right;
  font-size: 70px;
  font-weight: 700;
  color: rgb(23, 21, 21);
  font-family: "Gothic A1", sans-serif;
  letter-spacing: 0.1em;
}

#homepageShall {
  text-align: right;
  font-size: 40px;
  font-weight: 100 !important;
  font-family: "Gothic A1", sans-serif;
  margin-top: 105px;
}

.homepage-Shall {
  color: black;
  text-decoration: none;
}

.homepage-Shall:hover {
  color: #f9c50a;
  text-decoration: underline !important;
}

.footer {
  text-align: center;
  font-size: 12px;
  color: #75746e;
  margin-bottom: 15px;
}

.footer-name {
  margin-bottom: 10px;
}

.underline {
  text-decoration: underline;
}

#aboutContent {
  margin: 50px 100px;
  padding-top: 100px;
}

.about-head {
  font-weight: 700;
  letter-spacing: 0.1em;
  font-family: "Gothic A1", sans-serif;
}

.about-1st-paragraph {
  font-size: 19px;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  margin: 15px 0;
  line-height: 36px;
}

.path {
  margin: 25px 0;
  width: 100%;
  border-radius: 4px;
  height: auto;
}

.about-2nd-paragraph {
  font-size: 19px;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  margin: 20px 0;
  line-height: 36px;
}

.personal-side-container {
  margin: 40px 15px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.row {
  display: flex;
  align-items: top;
  gap: 90px;
}
.row img {
  width: 250px;
  height: 230px;
  border-radius: 12px;
}

.row div {
  flex: 1;
}

.ps-title {
  font-family: "Gothic A1", sans-serif;
  font-weight: 100;
  font-size: 40px;
  margin-bottom: 25px;
}

.ps-text {
  font-size: 19px;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  line-height: 36px;
}

.about-3rd-paragraph {
  font-size: 19px;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  margin: 20px 0 250px 0;
  line-height: 36px;
}

#projectsContent {
  margin: 90px 220px;
}

.project-head {
  font-weight: 700;
  letter-spacing: 0.1em;
  font-family: "Gothic A1", sans-serif;
}
