body {
  background-color: #fefcf6 !important;
}

.header {
  background-color: #fefcf6;
  padding: 17px 40px;
  border: 1px solid #f2f1eb;
  font-size: 15px;
}

.navbar-logo {
  display: block;
  height: 35px;
}

.header-topic {
  color: black;
}

.header-topic:hover {
  color: #f9c50a;
  text-decoration: underline !important;
}

#homepageContent {
  margin: 220px 100px 180px 100px;
}

#homepageName {
  text-align: right;
  font-size: 70px;
  font-weight: 700;
  color: rgb(23, 21, 21);
  font-family: "Gothic A1", sans-serif;
  letter-spacing: 0.1em;
}

#homepageShall {
  text-align: right;
  font-size: 40px;
  font-weight: 100 !important;
  font-family: "Gothic A1", sans-serif;
  margin-top: 105px;
}

.homepage-Shall {
  color: black;
  text-decoration: none;
}

.homepage-Shall:hover {
  color: #f9c50a;
  text-decoration: underline !important;
}

.footer {
  text-align: center;
  font-size: 12px;
  color: #75746e;
  margin-bottom: 15px;
}

.footer-name {
  margin-bottom: 10px;
}

.underline {
  text-decoration: underline;
}

#aboutContent {
  margin: 50px 100px;
  padding-top: 100px;
}

.about-head {
  font-weight: 700;
  letter-spacing: 0.1em;
  font-family: "Gothic A1", sans-serif;
}

.about-1st-paragraph {
  font-size: 19px;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  margin: 15px 0;
  line-height: 36px;
}

.path {
  margin: 25px 0;
  width: 100%;
  border-radius: 4px;
  height: auto;
}

.about-2nd-paragraph {
  font-size: 19px;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  margin: 20px 0;
  line-height: 36px;
}

.personal-side-container {
  margin: 40px 15px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.row {
  display: flex;
  align-items: center;
  gap: 90px;
}
.row img {
  width: 250px;
  height: 230px;
  border-radius: 12px;
}

.row div {
  flex: 1;
}

.ps-title {
  font-family: "Gothic A1", sans-serif;
  font-weight: 100;
  font-size: 40px;
  margin-bottom: 25px;
}

.ps-text {
  font-size: 19px;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  line-height: 36px;
}

.about-3rd-paragraph {
  font-size: 19px;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  margin: 20px 0 250px 0;
  line-height: 36px;
}

#projectsContent {
  margin: 90px 220px;
  padding-top: 100px;
}

.project-head {
  font-weight: 700;
  letter-spacing: 0.1em;
  font-family: "Gothic A1", sans-serif;
  padding-bottom: 30px;
}

.projects {
  display: flex;
  align-items: center;
  gap: 130px;
  margin: 50px 0 95px 0;
}

.extra {
  gap: 50px;
}

.sbs {
  width: 180px;
  height: 250px;
}

.hisf {
  width: 260px;
  height: 160px;
}

.projects-title {
  font-family: "Gothic A1", sans-serif;
  font-weight: 100;
  font-size: 40px;
  margin-bottom: 25px;
}

.projects-text {
  font-size: 19px;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  line-height: 36px;
  margin: 60px 0;
}

.projects-button {
  background-color: #f9c50a;
  border: 1px solid #f9c50a;
  color: #2b2a2a;
  border-radius: 10px;
  padding: 7px 70px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.projects-button:hover {
  cursor: pointer;
}

.work-container {
  display: flex;
  justify-content: center;
  margin: 55px 0 85px 0;
}

.work-done {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.wedding-picture {
  width: 400px !important;
  height: 400px !important;
  object-fit: cover;
}

.work-button {
  background-color: #f9c50a;
  border: 1px solid #f9c50a;
  color: #2b2a2a;
  border-radius: 10px;
  padding: 7px 35px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.work-button:hover {
  cursor: pointer;
}

.zaask-logo {
  display: flex;
  justify-content: center;
  margin: 30px 0 380px 0;
}

#sbsContent {
  margin: 40px 100px 0 100px;
  padding-top: 100px;
}

.project-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 60px 0 40px 0;
}

.sbs-logo {
  width: auto;
  height: 185px;
}

.subtitle {
  color: rgb(249, 197, 13);
  font-family: "Gothic A1", sans-serif;
  font-size: 40px;
  font-weight: 100;
  line-height: 48px;
}

.description {
  font-size: 19px;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  margin: 12px 0 45px 0;
  line-height: 36px;
}

.subsubtitle {
  font-family: "Gothic A1", sans-serif;
  font-size: 30px;
  font-weight: 100;
  line-height: 36px;
  margin: 50px 0;
}

.graphics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}

.graphics img {
  width: 925px;
}

.color-scheme {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}

.color-scheme img {
  width: 340px;
}

.prototypes {
  font-size: 19px;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  margin: 12px 0 20px 15px;

  line-height: 36px;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  border-radius: 5px;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.article {
  margin: 50px 0 55px 0;
  text-align: right;
  color: rgb(249, 197, 13);
  font-family: "Gothic A1", sans-serif;
  font-size: 30px;
  font-weight: 100;
  line-height: 36px;
}

.article-link {
  color: black;
}

.article-link:hover {
  color: rgb(249, 197, 13);
}

.case-study-container {
  display: flex;
  justify-content: center;
  margin: 50px 0 475px 0;
}

.cs-logo1 {
  display: flex;
  justify-content: flex-end;
  padding: 0 65px 0 0;
}

.cs-logo2 {
  display: flex;
  justify-content: flex-start;
  padding: 0 0 0 45px;
}

.cs-hisf {
  width: 310px;
  height: 190px;
}

.cs-cm {
  width: 135px;
  height: 190px;
}

.cs-sbs {
  width: 135px;
  height: 190px;
}

.hisf-logo {
  width: auto;
  height: 377px;
}

.proportion {
  position: relative;
  width: 100%;
  padding-bottom: 35%;
  height: 0;
  overflow: hidden;
  border-radius: 5px;
}

.proportion iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#contactsContent {
  margin: 40px 100px 0 100px;
  padding-top: 110px;
}

.contact-head {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 0.1em;
  font-family: "Gothic A1", sans-serif;
}

.phone {
  display: flex;
  align-items: center;
  gap: 50px;
  margin: 55px 0 20px 0;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  color: rgb(249, 197, 13);
  font-size: 57px !important;
}

.contact-text {
  font-size: 20px;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  line-height: 40px;
}

.talk {
  margin: 65px 0 55px 0;
  text-align: right;
  color: rgb(249, 197, 13);
  font-family: "Gothic A1", sans-serif;
  font-size: 40px;
  font-weight: 100;
  line-height: 48px;
}

.stepup {
  margin: 58px 0 55px 0;
  text-align: right;
  color: #2b2a2a;
  font-family: "Gothic A1", sans-serif;
  font-size: 40px;
  font-weight: 100;
  line-height: 48px;
}

.call {
  display: flex;
  justify-content: right;
  margin-bottom: 165px;
}

.call img {
  height: 180px;
  border-radius: 10px;
}

@media (min-width: 1160px) and (max-width: 1359px) {
  #projectsContent {
    margin: 90px 120px;
  }
}

@media (min-width: 768px) and (max-width: 1159px) {
  #projectsContent {
    margin: 90px 70px;
  }

  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .work-done {
    margin: 10px 0;
    gap: 20px;
  }

  .work-button {
    padding: 7px 25px;
  }

  #sbsContent {
    margin: 70px 70px 0 70px;
  }

  .graphics img {
    width: 100% !important;
  }
}

@media (min-width: 600px) and (max-width: 767.98px) {
  .navbar-brand {
    display: none !important;
  }

  .navbar-toggler {
    border: none;
  }
  .navbar-toggler:focus {
    outline: none;
  }
  .navbar-toggler-icon {
    background: none;
  }
  .navbar-toggler-icon::before,
  .navbar-toggler-icon::after,
  .navbar-toggler-icon span {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px auto;
    background-color: rgb(249, 197, 13);
  }

  .navbar-toggler-icon span {
    background-color: rgb(249, 197, 13);
  }

  .yellow {
    color: rgb(249, 197, 13);
  }

  #homepageContent {
    margin: 220px 50px 180px 50px;
  }

  #homepageName {
    font-size: 50px;
  }

  #aboutContent {
    margin: 50px 40px;
    padding-top: 100px;
  }

  .row {
    gap: 40px;
  }

  #projectsContent {
    margin: 60px 50px;
  }

  .projects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 70px;
  }

  .projects img {
    margin-bottom: 10px;
  }

  .projects-title {
    font-size: 37px;
    margin-bottom: 15px;
  }

  .projects-text {
    margin: 30px 0 60px 0;
  }

  .projects-button {
    padding: 7px 40px;
  }

  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .work-done {
    margin: 10px 0;
    gap: 20px;
  }

  .work-button {
    padding: 7px 25px;
  }

  #sbsContent {
    margin: 40px 50px 0 50px;
  }

  .project-head {
    font-size: 35px;
  }

  .graphics img {
    width: 100% !important;
  }

  .article {
    font-size: 25px;
  }

  .subtitle {
    font-size: 35px;
  }

  .subsubtitle {
    font-size: 25px;
  }

  .case-study-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0 375px 0;
  }

  .cs-logo1,
  .cs-logo2 {
    padding: 0;
    margin-bottom: 10px;
  }

  .hisf-logo {
    width: auto;
    height: 270px;
  }

  #contactsContent {
    margin: 40px 50px 0 50px;
  }
}

@media (min-width: 100px) and (max-width: 599.98px) {
  .navbar-brand {
    display: none !important;
  }

  .navbar-toggler {
    border: none;
  }
  .navbar-toggler:focus {
    outline: none;
  }
  .navbar-toggler-icon {
    background: none;
  }
  .navbar-toggler-icon::before,
  .navbar-toggler-icon::after,
  .navbar-toggler-icon span {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px auto;
    background-color: rgb(249, 197, 13);
  }

  .navbar-toggler-icon span {
    background-color: rgb(249, 197, 13);
  }

  .yellow {
    color: rgb(249, 197, 13);
  }

  #homepageContent {
    margin: 220px 20px 180px 50px;
  }

  #homepageName {
    font-size: 45px;
  }

  #homepageShall {
    font-size: 30px;
  }

  #aboutContent {
    margin: 50px 30px;
    padding-top: 100px;
  }

  .about-head {
    font-size: 30px;
  }

  .about-1st-paragraph,
  .about-2nd-paragraph,
  .ps-text,
  .about-3rd-paragraph {
    font-size: 15px;
    line-height: 28px;
  }

  .row {
    gap: 40px;
    flex-direction: column;
  }

  .row img {
    order: -1;
    align-self: flex-start;
    max-width: 100%;
  }

  .ps-title {
    font-size: 30px;
    margin-bottom: 15px;
  }

  .about-3rd-paragraph {
    margin: 20px 0 100px 0;
  }

  #projectsContent {
    margin: 50px 35px;
  }

  .projects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 70px;
  }

  .projects img {
    margin-bottom: 10px;
  }

  .projects-title {
    font-size: 37px;
    margin-bottom: 15px;
  }

  .projects-text {
    margin: 30px 0 60px 0;
  }

  .projects-button {
    padding: 7px 40px;
  }

  .work-done {
    margin: 10px 0;
    gap: 20px;
  }

  .work-button {
    padding: 7px 10px;
    font-size: 12px;
  }

  .wedding-picture {
    order: initial !important;
    align-self: auto !important;
    max-width: none !important;
    width: 275px !important;
    height: 275px !important;
  }

  #sbsContent {
    margin: 30px 30px 0 30px;
  }

  .project-head {
    font-size: 35px;
  }

  .graphics img {
    width: 100% !important;
  }

  .color-scheme img {
    width: 100% !important;
  }

  .article {
    font-size: 25px;
  }

  .subtitle {
    font-size: 35px;
  }

  .subsubtitle {
    font-size: 25px;
  }

  .case-study-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0 375px 0;
  }

  .cs-logo1,
  .cs-logo2 {
    padding: 0;
    margin-bottom: 10px;
  }

  .hisf-logo {
    width: auto;
    height: 170px;
  }

  #contactsContent {
    margin: 20px 20px 0 30px;
  }

  .contact-head {
    font-size: 50px;
  }

  .material-symbols-outlined {
    font-size: 47px !important;
  }

  .phone {
    gap: 20px;
  }

  .contact-text {
    font-size: 15px;
  }

  .talk {
    font-size: 30px;
  }

  .stepup {
    font-size: 30px;
  }

  .sbs {
    width: 120px;
    height: 160px;
  }
}
